body{
    background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(style/bk.jpg);
}
form{
    background-color: rgba(0,0,0,0.8);

    width:35%;

    height: 55%;

    padding: 20px;

    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: none;
    align-items: center;
}
#botao{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}
.login-input{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: rgb(44, 42, 42);
    margin-bottom: 10px;
    border: none;
}


main{
    display: flex;
    justify-content: center;
    
    
    height: 80%;

 
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   width: 20%;
}
#logo{
 width: 200px;
}
#help{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: gray;
    
}
#botao:hover{
    background-color: rgb(54, 3, 3);
    transition-duration: 0.3s;
}
#entrar{
    width: 100%;

}
.alerta{
    color:red;
    font-size: x-small;
    margin-top: 0%;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: none;
    color: darkred;
    transition-duration: 0.3s;
}
input{
    color: white;
}